@charset "UTF-8";
*{
	box-sizing: border-box;
}
.body {

	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.container{
	margin: auto;
	width: 960px;
}
.container > h1{
	font-size: 26px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}
.nav{
	height: 72px;
	width: 100%;
	color: #eee;
	text-align: left;
	background: #ffffff;
	border-top: 3px solid #FFFFFF;
	border-bottom: 3px solid;
	border-bottom-color: #cccccc;
	clear: both;
}
.primary_header {
	background-color: #4aaaa5;
	text-align: center;
	height: 67px;
	padding: 20px;
	width: 270px;
	border-radius: 10px;
}
#links {
	position: absolute;
	top: 3%;
	right: 4%;
	float: right;
	text-align: center;
	font-size: 16px;
	color: #777777;
	text-decoration: none;
}
a {
	font-size: 16px;
	margin-left: 5px;
	margin-right: 5px;
	color: #777777;
	text-decoration: none;
}

.section {
	float: left;
	width: 650px;
	background-color: #ffffff;
	border-color: #dddddd;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
}
.aside {
	float: right;
	width: 250px;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	background-color:#ffffff;
	border-radius: 10px;
}
.article {
	text-align: left;
}
.form{
	color: #777777;
}
.inText{
	width: 100%;
	padding: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
	resize: none;
	margin-top: 10px;
	margin-bottom: 10px;
}
.picContainR {
	position: relative;
	height: 200px;
	width: 275px;
	margin: 10px;
	margin-bottom: 25px;
	float: right;
}
.picContainL {
	position: relative;
	height: 200px;
	width: 275px;
	margin: 10px;
	margin-bottom: 25px;
	float: left;
}
.picText{
	position: absolute;
	width: 100%;
	text-align: center;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color:#4AAAA5;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer {
	text-align: center;
	color: white;
	clear: both;
	padding: 25px;
	border-top: 15px solid #4AAAA5;
	margin-top: 10px;
	background-color: #666666;
	/* Box-model */
}
#profilepic{
	border: 10px solid #4AAAA5;
	float: left;
	margin-right: 20px;
	margin-left: 5px;
	border-radius: 10px;
}
#message{
	width: 100%;
    height: 150px;
    padding: 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
	margin-top: 10px;
    border-radius: 4px;
    resize: none;
}
#submit{
	border: none;
	background-color: #4aaaa5;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
	font-size: 16px;
}
hr{
	background-color: #dddddd;
	border: none;
	width: 100%;
}
p {
	font-size: 16px;
	line-height: 2;
	color: #777777;
}
.section > h1 {
	font-size: 26px;
	font-weight: bold;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color: #4AAAA5; 
	padding-top: 20px;
	padding-bottom: 20px;
	}
.aside > h1 {
	font-size: 26px;
	font-weight: bold;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color: #4AAAA5; 
	padding: 10px;
	}
.aside > a {		
	float: center;
	margin: auto;
	color: #777777;
	text-decoration: none;
		}
@media screen and (max-width: 980px) {
	.body{
		
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	}
	.container{
		margin: auto;
		width: 760px;
	}
	.container > h1{
		font-size: 26px;
		font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	}
	.nav{
		height: 72px;
		width: 100%;
		color: #eee;
		text-align: left;
		background: #ffffff;
		border-top: 3px solid #FFFFFF;
		border-bottom: 3px solid;
		border-bottom-color: #cccccc;
	}
	.primary_header {
		background-color: #4aaaa5;
		text-align: center;
		height: 67px;
		padding: 20px;
		width: 270px;
		border-radius: 10px;
	}
	#links {
		position: absolute;
		top: 3%;
		right: 4%;
		float: right;
		text-align: center;
		font-size: 16px;
		color: #777777;
		text-decoration: none;
	}
	a {
		font-size: 16px;
		margin-left: 5px;
		margin-right: 5px;
		color: #777777;
		text-decoration: none;
	}
	.section {
		float: left;
		width: 470px;
		background-color: #ffffff;
		border-color: #dddddd;
		padding: 30px;
		margin-top: 10px;
		margin-bottom: 10px;
		border-radius: 10px;
	}
	.aside {
		float: right;
		width: 250px;
		margin-top: 10px;
		padding: 10px;
		text-align: center;
		background-color:#ffffff;
		border-radius: 10px;
	}
	.article {
		text-align: left;
	}
	.form{
		color: #777777;
	}
	.inText{
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
		border: 2px solid #ccc;
		border-radius: 4px;
		resize: none;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.picContainR {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 200px;
		width: 275px;
	}
	.picContainL {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 200px;
		width: 275px;	
	}
	.picText{
		position: absolute;
		width: 100%;
		text-align: center;
		color: white;
		padding-top: 20px;
		padding-bottom: 20px;
		background-color:#4AAAA5;
		top: 75%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.footer {
		text-align: center;
		color: white;
		clear: both;
		padding: 25px;
		border-top: 15px solid #4AAAA5;
		margin-top: 10px;
		background-color: #666666;
		/* Box-model */
	}
	#profilepic{
		border: 10px solid #4AAAA5;
		float: left;
		margin-right: 10px;
		margin-top: 10px;
		border-radius: 10px;
	}
	#message{
		width: 100%;
		height: 150px;
		padding: 12px;
		box-sizing: border-box;
		border: 2px solid #ccc;
		margin-top: 10px;
		border-radius: 4px;
		resize: none;
	}
	#submit{
		border: none;
		background-color: #4aaaa5;
		color: white;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 20px;
		padding-right: 20px;
		margin-top: 10px;
		font-size: 16px;
	}
	hr{
		background-color: #dddddd;
		border: none;
		width: 100%;
	}
	p {
		font-size: 16px;
		line-height: 2;
		color: #777777;
	}
	.section > h1 {
		font-size: 26px;
		font-weight: bold;
		font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
		color: #4AAAA5; 
		padding-top: 20px;
		padding-bottom: 20px;
		}
	.aside > h1 {
		font-size: 26px;
		font-weight: bold;
		font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
		color: #4AAAA5; 
		padding: 10px;
		}
	.aside > a {		
		float: center;
		margin: auto;
		color: #777777;
		text-decoration: none;
			}
}
@media screen and (max-width: 786px) {
	.body {
		
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	}
	.container{
		margin: auto;
		width: 675px;
	}
	.container > h1{
		font-size: 26px;
		font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	}
	.nav{
		height: 72px;
		width: 100%;
		color: #eee;
		text-align: left;
		background: #ffffff;
		border-top: 3px solid #FFFFFF;
		border-bottom: 3px solid;
		border-bottom-color: #cccccc;
		clear: both;
	}
	.primary_header {
		background-color: #4aaaa5;
		text-align: center;
		height: 67px;
		padding: 20px;
		width: 270px;
		border-radius: 10px;
	}
	#links {
		position: absolute;
		top: 3%;
		right: 4%;
		float: right;
		text-align: center;
		font-size: 16px;
		color: #777777;
		text-decoration: none;
	}
	a {
		font-size: 16px;
		margin-left: 5px;
		margin-right: 5px;
		color: #777777;
		text-decoration: none;
	}
	
	.section {
		width: 100%;
		background-color: #ffffff;
		border-color: #dddddd;
		padding: 30px;
		margin-top: 20px;
		margin-bottom: 10px;
		border-radius: 10px;
	}
	.aside {
		float: right;
		width: 100%;
		margin-top: 10px;
		margin-bottom: 20px;
		padding: 10px;
		text-align: center;
		background-color:#ffffff;
		border-radius: 10px;
	}
	.article {
		text-align: left;
	}
	.form{
		color: #777777;
	}
	.inText{
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
		border: 2px solid #ccc;
		border-radius: 4px;
		resize: none;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.picContainR {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 200px;
		width: 275px;
	}
	.picContainL {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 200px;
		width: 275px;	
	}
	.picText{
		position: absolute;
		width: 100%;
		text-align: center;
		color: white;
		padding-top: 20px;
		padding-bottom: 20px;
		background-color:#4AAAA5;
		top: 75%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.footer {
		text-align: center;
		color: white;
		clear: both;
		padding: 25px;
		border-top: 15px solid #4AAAA5;
		margin-top: 10px;
		background-color: #666666;
		/* Box-model */
	}
	#profilepic{
		border: 10px solid #4AAAA5;
		float: left;
		margin-right: 10px;
		margin-top: 10px;
		border-radius: 10px;
	}
	#message{
		width: 100%;
		height: 150px;
		padding: 12px;
		box-sizing: border-box;
		border: 2px solid #ccc;
		margin-top: 10px;
		border-radius: 4px;
		resize: none;
	}
	#submit{
		border: none;
		background-color: #4aaaa5;
		color: white;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 20px;
		padding-right: 20px;
		margin-top: 10px;
		font-size: 16px;
	}
	hr{
		background-color: #dddddd;
		border: none;
		width: 100%;
	}
	p {
		font-size: 16px;
		line-height: 2;
		color: #777777;
	}
	.section > h1 {
		font-size: 26px;
		font-weight: bold;
		font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
		color: #4AAAA5; 
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.aside > h1 {
		font-size: 26px;
		font-weight: bold;
		font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
		color: #4AAAA5; 
		padding: 10px;
	}
	.aside > a {		
		float: center;
		margin: auto;
		color: #777777;
		text-decoration: none;
	}
}
@media screen and (max-width: 640px) {
	.body {
		
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	}
	.container{
		width: 100%;
	}
	.container > h1{
		font-size: 26px;
		font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	}
	.nav{
		width: 100%;
		margin: 0%;
	}
	.primary_header {
		position: absolute;
		top: 0;
		background-color: #4aaaa5;
		text-align: center;
		height: 80px;
		width: 100%;
		border-radius: 0;
	}
	#links {
		margin: auto;
		float: left;
		text-align: right;
		width: 100%;
		margin-top: 70px;
		font-size: 16px;
		color: #777777;
		text-decoration: none;
		background-color: #ffffff;
	}
	a {
		font-size: 16px;
		margin-left: 5px;
		margin-right: 5px;
		color: #777777;
		text-decoration: none;
	}
	
	.section {
		width: 100%;
		background-color: #ffffff;
		border-color: #dddddd;
		padding: 30px;
		margin-top: 20px;
		margin-bottom: 10px;
		border-radius: 10px;
	}
	.aside {
		float: right;
		width: 100%;
		margin-top: 10px;
		margin-bottom: 20px;
		padding: 10px;
		text-align: center;
		background-color:#ffffff;
		border-radius: 10px;
	}
	.article {
		text-align: left;
	}
	.form{
		color: #777777;
	}
	.inText{
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
		border: 2px solid #ccc;
		border-radius: 4px;
		resize: none;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.picContainR {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 200px;
		width: 275px;
	}
	.picContainL {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 200px;
		width: 275px;	
	}
	.picText{
		position: absolute;
		width: 100%;
		text-align: center;
		color: white;
		padding-top: 20px;
		padding-bottom: 20px;
		background-color:#4AAAA5;
		top: 75%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.footer {
		text-align: center;
		color: white;
		clear: both;
		padding: 25px;
		border-top: 15px solid #4AAAA5;
		margin-top: 10px;
		background-color: #666666;
		/* Box-model */
	}
	#profilepic{
		border: 10px solid #4AAAA5;
		float: left;
		margin-right: 10px;
		margin-top: 10px;
		border-radius: 10px;
	}
	#message{
		width: 100%;
		height: 150px;
		padding: 12px;
		box-sizing: border-box;
		border: 2px solid #ccc;
		margin-top: 10px;
		border-radius: 4px;
		resize: none;
	}
	#submit{
		border: none;
		background-color: #4aaaa5;
		color: white;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 20px;
		padding-right: 20px;
		margin-top: 10px;
		font-size: 16px;
	}
	hr{
		background-color: #dddddd;
		border: none;
		width: 100%;
	}
	p {
		font-size: 16px;
		line-height: 2;
		color: #777777;
	}
	.section > h1 {
		font-size: 26px;
		font-weight: bold;
		font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
		color: #4AAAA5; 
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.aside > h1 {
		font-size: 26px;
		font-weight: bold;
		font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
		color: #4AAAA5; 
		padding: 10px;
	}
	.aside > a {		
		float: center;
		margin: auto;
		color: #777777;
		text-decoration: none;
	}
}
